:root {
    --clusterColor: rgba(6, 3, 210, 0.5);

    --headerColor: rgb(18, 19, 30);

    
    --getStartedButtonColor: rgb(17, 17, 17);
    --getStartedButtonColorHover: rgb(0, 17, 255);

    --spanishColor: #ce7e77;
    --spanishColorHover: #c2c2c2;
}


/* Toolbar icons */
.leaflet-draw-draw-marker:nth-of-type(1) {
    background-image: url("/icons/tool_add_climate.png") !important;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 0 0 !important;
    width: 30px !important;
    padding-bottom: 3px;
}

.leaflet-draw-draw-marker:nth-of-type(2) {
    background-image: url("/icons/tool_add_equity.png") !important;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 0 0 !important;
    width: 30px !important;
    padding-bottom: 2px;
}

.leaflet-draw-draw-marker:nth-of-type(3) {
    background-image: url("/icons/tool_add_vibrancy.png") !important;
    background-repeat: no-repeat;
    background-size: 30px 30px !important;
    background-position: 0 0 !important;
    width: 30px !important;
    padding-bottom: 2px;
}

.leaflet-draw-draw-marker:nth-of-type(4) {
    background-image: url("/icons/tool_add_community.png") !important;
    background-repeat: no-repeat;
    background-size: 30px 30px !important;
    background-position: 0 0 !important;
    width: 30px !important;
    padding-bottom: 2px;
}

.leaflet-draw-draw-marker:nth-of-type(5) {
    background-image: url("/icons/tool_add_transparency.png") !important;
    background-repeat: no-repeat;
    background-size: 30px 30px !important;
    background-position: 0 0 !important;
    width: 30px !important;
    padding-bottom: 2px;
}



/* Cluster colors */
.marker-cluster-small {
    /* background-color: rgba(218, 94, 94, 0.6) !important; */
    background-color: var(--clusterColor) !important;
    /* background-color: #d4735c40 !important; */
    color: #ffffff !important;
}

.marker-cluster-small div {
    /* background-color: rgba(226, 36, 36, 0.6) !important; */
    background-color: var(--clusterColor) !important;
    /* background-color: #d4735c40 !important; */
    color: #ffffff !important;
}

.marker-cluster-medium {
    background-color: var(--clusterColor) !important;
    /* background-color: #d4735c40 !important; */
    color: #ffffff !important;
}

.marker-cluster-medium div {
    background-color: var(--clusterColor) !important;
    /* background-color: #d4735c40 !important; */
    color: #ffffff !important;
}

.marker-cluster-large {
    background-color: var(--clusterColor) !important;
    /* background-color: #d4735c40 !important; */
    color: #ffffff !important;
}

.marker-cluster-large div {
    background-color: var(--clusterColor) !important;
    /* background-color: #d4735c40 !important; */
    color: #ffffff !important;
}


/* Sidebar */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#sidebar .home {
    height: 40px;
    width: 40px;
}

#sidebar .info {
    height: 40px;
    width: 40px;
}

#sidebar .comments {
    height: 40px;
    width: 40px;
}

#sidebar .sidebar-tabs li.active {
    background-color: #E0F2F2;
}

#sidebar #home,
#sidebar #infoTab {
    font-family: "Rational Display Light";
}

#sidebar .comment {
    font-family: "Rational Display Light";
}

#sidebar .close {
    margin-top: 10px;
    height: 20px;
    width: 20px;
}

#sidebar h1.sidebar-header {
    font-family: "Rational Display Medium";
    background-color: var(--headerColor);
    font-weight: 500;
}

#sidebar img.textIcon {
    width: 60px;
    height: 60px;
    padding-right: 10px;
}

#sidebar img.inTextIcon {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
}

#sidebar img.inTextIcon.place {
    padding-right: 5px;
}

div.infoType {
    display: flex;
    flex-direction: row;
}

div.infoType img.textIcon {
    display: flex;
}

.sidebar-pane .active {
    background-color: #c4912a;
}

#sidebar .sideComment {
    padding: 5px;
    padding-left: 10px;
    padding-top: 6px;
    border-bottom: 1px solid #2D2E74;
}

#sidebar .commentType {
    font-size: 16px;
}

#sidebar div.sideComment:hover {
    cursor: pointer;
    background-color: #b6b6ce;
}

#sidebar div.comment {
    font-size: 12px;
}

#sidebar div.comment .commentBy {
    font-size: 12px;
}

#sidebar div.comment .commentAbout,
#sidebar div.comment .commentDate {
    font-size: 11px;
}

#sidebar div.newSideComment {
    border-bottom: 1px solid #2D2E74;
}

#home,
#commentsTab {
    border-left: 1px solid rgb(228, 228, 228);
}

h3.commentType {
    margin-top: 0;
}

.commentType img.icon {
    height: 45px;
    width: 45px;
    margin-bottom: -15px;
}

button.button--primary.getStarted {
    background-color: var(--getStartedButtonColor);
    padding: 10px;
}
button.button--primary.getStarted:hover {
    background-color: var(--getStartedButtonColorHover);
}

button.button--primary.spanish {
    background-color: var(--spanishColor);
    padding: 5px;
}
button.button--primary.spanish:hover {
    background-color: var(--spanishColorHover);
}   